{
  "extends": ["eslint", "plugin:security/recommended"],
  "plugins": ["security"],
  "parserOptions": {
    "sourceType": "module",
    "ecmaVersion": 10
  },
  "rules": {
    "indent": ["error", 2],
    "semi": ["error", "never"],
    "require-jsdoc": ["off"],
    "lines-around-comment": ["off"],
    "no-console": ["warn"],
    "node/no-unsupported-features/es-syntax": ["off"]
  }
}
